<div class="stub-header">
  Refine Product
</div>
<app-product-item [product]="product"></app-product-item>

<div class="container bottom-15">
  <div class="row">
    <div class="col-8">
      <div class="text-left">
        Delivery Selection
      </div>
    </div>
    <div class="col-4">
      <div class="text-right">
        Quantity
      </div>
    </div>
  </div>

  <div class="row" *ngIf="product">
    <div class="col-8 text-left">
      <select style="width:100%; margin:auto;">
        <option 
          *ngFor="let opt of product.deliveredPrices; let i = index" 
          id="{{opt.deliveryMethodCode}}" selected="{{opt.isDefault}}">
          ${{opt.price.toFixed(2)}} - {{opt.description}} {{opt.country}}
        </option>
      </select>
    </div>
    <div class="col-4 text-right" *ngIf="product.id">
      {{quantity}}
      <button (click)="onDecrementQuantity()" [disabled]="!canDecrementQuantity()">-</button>
      <button (click)="onIncrementQuantity()" [disabled]="!canIncrementQuantity()">+</button>
    </div>
  </div>

</div>

<div *ngIf="product && product.hasTemplate">
  <div class="fields-header">
    Customization Template
  </div>
  <div class="helper-text">
    <i>
      Hint: Double-click or press 'Enter' in an empty field to use configured default values.
    </i>
  </div>
  <div *ngFor="let field of fieldList; let i = index">
    <div class="container">
      <input
        type="text" 
        class="form-input form-control bottom-15"
        style="width:100%;"
        [(ngModel)]="fieldMap[field.fieldname]" 
        [ngModelOptions]="{standalone: true}"
        (dblclick)="setDefaultFieldValue(field)"
        (keydown.enter)="setDefaultFieldValue(field)"
        placeholder="{{field.prompt[0].text}}"> 
    </div>
  </div>
</div>

<div class="btn-group">
  <button type="button" class="btn btn-secondary" (click)="emitConfiguration()">Accept & Continue</button>      
</div>