<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    PFL Order Demo
  </h1>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
  </p>
  <aw-wizard #wizard>
    <aw-wizard-step [stepTitle]="'Select\nProduct'">
      <div class="centered-content">
        
        <app-product-list></app-product-list>

        <div class="btn-group">
          <button type="button" class="btn btn-secondary" [awGoToStep]="{ stepIndex: 1 }">Customize</button>
        </div>
      </div>
    </aw-wizard-step>
    <aw-wizard-step [stepTitle]="'Refine\nProduct'">
      <div class="centered-content">
        <h1>
           Product Details
        </h1>
        <div>
          TODO
        </div>

        <div class="btn-group">
          <button type="button" class="btn btn-secondary" [awGoToStep]="{ stepOffset: -1 }">Products</button>
          <button type="button" class="btn btn-secondary" [awGoToStep]="{ stepOffset: 1 }">Recipient</button>
        </div>
      </div>
    </aw-wizard-step>

    <aw-wizard-step [stepTitle]="'Recipient\nDetails'">
      <div class="centered-content">
        <h1>
          Recipient Address
        </h1>
        <div>
          TODO
        </div>
    
        <div class="btn-group">
          <button type="button" class="btn btn-secondary" [awGoToStep]="{ stepOffset: -1 }">Customize</button>
          <button type="button" class="btn btn-secondary" [awGoToStep]="{ stepOffset: 1 }">Finalize</button>
        </div>
      </div>
    </aw-wizard-step>

    <aw-wizard-step [stepTitle]="'Payment\nMethod'">
      <div class="centered-content">
        <h1>
          Finalize Order
        </h1>
        <div>
          TODO
        </div>
    
        <div class="btn-group">
          <button type="button" class="btn btn-secondary" [awGoToStep]="{ stepOffset: -1 }">Recipient</button>
          <button type="button" class="btn btn-secondary" [awGoToStep]="{ stepOffset: 1 }">Accept</button>
        </div>
      </div>
    </aw-wizard-step>

    <aw-wizard-step [stepTitle]="'Review\nOrder'">
      <div class="centered-content">
        <h1>
          Review Order
        </h1>
        <div>
          TODO
        </div>

        <div class="btn-group">
          <button type="button" class="btn btn-secondary" awResetWizard>Reset</button>
        </div>
      </div>
    </aw-wizard-step>
  </aw-wizard>
</div>
