.centered-content {
  margin: auto;
  text-align: center;
}

.stub-header {
  font-size: 1.6em;
}

.bottom-15 {
  margin-bottom: 15px;
}

.form-input {
  font-size: 16px;
  padding: 4px 10px;
  color: black;
  background-color: white;
  border-color: gray;
  border-radius: 5px;
  border: solid;
  border-width: 1px;
}
