<!--The content below is only a placeholder and can be replaced.-->
<div class="product-wizard centered-content">
  <h1>
    PFL Order Demo
  </h1>
  <p>
    Welcome. This demonstration is a partial implementation of an Order workflow.
  </p>
  <aw-wizard #wizard>
    <aw-wizard-step [stepTitle]="'Select Product'">        
      <app-product-list (selection)="productSelected($event)"></app-product-list>
    </aw-wizard-step>

    <aw-wizard-step [stepTitle]="'Refine Product'">
      <app-product-details [product]="selectedProduct" (configuration)="onProductConfig($event)"></app-product-details>
    </aw-wizard-step>

    <aw-wizard-step [stepTitle]="'Recipient Details'">
      <app-user-details (values)="onRecipientDetails($event)"></app-user-details>
    </aw-wizard-step>

    <aw-wizard-step [stepTitle]="'Place Order'">
      <app-order-price [order]="order"></app-order-price>
      
      <div class="btn-group">
        <button type="button" class="btn btn-secondary" [awGoToStep]="{ stepOffset: 1 }">Place Order</button>
      </div>
      
    </aw-wizard-step>

    <aw-wizard-step [stepTitle]="'Review Order'">
      <div class="centered-content">
        <div class="stub-header">
          Review Order
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-secondary" awResetWizard>Reset</button>
        </div>
      </div>
    </aw-wizard-step>
  </aw-wizard>
</div>
