<!--The content below is only a placeholder and can be replaced.-->
<div class="product-wizard centered-content">
  <h1>
    PFL Order Demo
  </h1>
  <p>
    Welcome. This demonstration is a partial implementation of an Order workflow.
    Unfinished wizard steps are stubbed for context.
  </p>
  <aw-wizard #wizard>
    <aw-wizard-step [stepTitle]="'Select Product'">        
      <app-product-list (selection)="productSelected($event)"></app-product-list>
    </aw-wizard-step>

    <aw-wizard-step [stepTitle]="'Refine Product'">
      <app-product-details [product]="selectedProduct"></app-product-details>
      <div class="btn-group">
        <button type="button" class="btn btn-secondary" [awGoToStep]="{ stepOffset: 1 }">Next Step</button>
        <!-- <button type="button" class="btn btn-secondary" [awGoToStep]="{ stepOffset: -1 }">Products</button> -->
      </div>
    </aw-wizard-step>

    <aw-wizard-step [stepTitle]="'Recipient Details'">
      <div class="stub-header">
        Recipient Address
      </div>  
      <div class="btn-group">
        <!-- <button type="button" class="btn btn-secondary" [awGoToStep]="{ stepOffset: -1 }">Customize</button> -->
        <button type="button" class="btn btn-secondary" [awGoToStep]="{ stepOffset: 1 }">Place Order</button>
      </div>
    </aw-wizard-step>

    <aw-wizard-step [stepTitle]="'Place Order'">
      <div class="centered-content">
        <div class="stub-header">
          Place Order
        </div>    
        <div class="btn-group">
          <!-- <button type="button" class="btn btn-secondary" [awGoToStep]="{ stepOffset: -1 }">Recipient</button> -->
          <button type="button" class="btn btn-secondary" [awGoToStep]="{ stepOffset: 1 }">Accept</button>
        </div>
      </div>
    </aw-wizard-step>

    <aw-wizard-step [stepTitle]="'Review Order'">
      <div class="centered-content">
        <div class="stub-header">
          Review Order
        </div>
        <div class="btn-group">
          <button type="button" class="btn btn-secondary" awResetWizard>Reset</button>
        </div>
      </div>
    </aw-wizard-step>
  </aw-wizard>
</div>
